@import 'tailwindcss';

/* Cores personalizadas usando CSS Custom Properties */
/* :root {
  --color-primary: #3b82f6;
  --color-secondary: #22c55e;
  --color-accent: #ff6b6b;
  --color-custom: #8b5cf6;
  --color-brand: #1e40af;
} */

/* Você também pode usar as cores do seu projeto */
:root {
  --minha-cor-azul: rgb(40, 170, 98);
  --minha-cor-verde: rgb(5, 155, 165);
}

.text-primary {
  color: var(--minha-cor-azul);
}
.bg-primary {
  background-color: var(--minha-cor-azul);
}

/* Gradientes personalizados */
.gradient {
  background: linear-gradient(45deg, var(--minha-cor-azul), var(--minha-cor-verde));
}
